*{
    margin:0;
    padding:0;
}
body{
    background-color:black;
    color: white;
}

#barra_superior{
    background-color:white;
    width: 100%;
    padding: 20px;
}

h1{
    text-align: center;
    color: black;
}

.escudo-do-time{
    width: 30%;
    margin: 50px;
    float: left;
}
#texto-do-escudo{
    margin-top: 8%;
    font-size: 6mm;
    
}
#mascote{
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;
    
}

.footer{
    background-color: white;
    padding: 20px;
    width: 100%;
    margin-top: 100%;
    color: black;
    
}

.galo-doido{
    margin-top: 18%;
    margin-right: 50%;
    font-size: 6mm;
    margin-left: 20%;
}
.titulos{
    font-size: 10mm;
    margin-top: 20%;
    margin-left: 25%;
}

.jogadores{
    font-size: 10mm;
    margin-top: 20%;
    margin-left: 25%;
}

#cite-do-clube{
    font-size: 8mm;
    margin-top: 40%;
    margin-left: 45%;
}